*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
}
.container{
    width:100%;
    height: 100vh;
    background-color:antiquewhite;
    display: flex;
    align-items: center;
    justify-content: center;
}
.calc{
    background-color: rgba(110, 6, 105, 0.842);
    border-radius: 20px;
    padding: 20px;
}
.calc form input{
    width:60px;
    height: 60px;
    border: 0;
    outline: 0;
    margin: 10px;
    font-size: 22px;
    color: white;
    border-radius: 10px;
    box-shadow: -8px -8px 15px rgba(255, 255, 255, 0.1) , -5px -5px 15px rgba(0, 0, 0, 0.2);
    background-color:  rgba(110, 6, 105, 0.5);
    cursor: pointer;

}
.display{
    display: flex;
    justify-content: flex-end;
    margin: 10px;
    
}
.display input{
    font-size: 40px;
    box-shadow: none;
    text-align: right;
    flex: 1;
    padding: 10px;
}


